---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre mí | Jafer Lopez" description="Sobre Jafet Lopez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mí"
				tagline="Gracias por pasar por aquí. Lee a continuación para conocer más sobre mí y mi trayectoria."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jafet Lopez trabajando con un colega"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre mi</h2>
				<div class="content">
					<p>
						Soy una persona apasionada por el aprendizaje constante
						y comprometida con mi desarrollo profesional. Mi
						experiencia se centra en el desarrollo web, con un
						enfoque en tecnologías como Java con Spring Boot
						y Node.js en proyectos personales. Sin embargo,
						lo que realmente me motiva es enfrentar desafíos y
						demostrar mi capacidad para adquirir rápidamente nuevos
						conocimientos. Soy proactivo, autodidacta y siempre
						estoy buscando oportunidades para explorar tecnologías
						emergentes y contribuir al éxito de los proyectos.
					</p>
					<p>Soy un apasionado desarrollador backend con experiencia en tecnologías como Node.js con Express.js, Java utilizando Spring Boot, y la administración de bases de datos tanto en MySQL como en PostgreSQL. Actualmente, estoy implementando Docker en mis proyectos personales y estudiando CI/CD junto con microservicios. Mi enfoque proactivo y autodidacta me impulsa a aprender rápidamente nuevas tecnologías y a enfrentar desafíos. Siempre busco oportunidades para crecer y contribuir al éxito de los proyectos.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Universidad Distrital Francisco José de Caldas</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
