---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
---

<BaseLayout title="Sobre mí | Jafer Lopez" description="Sobre Jafet Lopez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mí"
				tagline="Gracias por pasar por aquí. Lee a continuación para conocer más sobre mí y mi trayectoria."
			>
				<img
					width="1553"
					height="873"
					src="/assets/CodeReddit.png"
					alt="Jafet Lopez trabajando con un colega"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre mi</h2>
				<div class="content">
					<p>
						Soy un desarrollador backend con experiencia en crear
						soluciones de software sólidas. Me apasiona aprender y
						enfrentar desafíos constantemente. Trabajo con Spring
						Boot y Express. Soy proactivo y autodidacta, siempre
						buscando oportunidades para innovar y contribuir al
						éxito de proyectos.<br><br>
					</p>
					<ul>
						<li>
							Fomentar un ambiente de trabajo colaborativo y comunicativo,
							liderando equipos hacia el logro de objetivos comunes mediante
							una comunicación efectiva y habilidades de liderazgo.
						</li>
						<li>
							Dedicado a mejorar la eficiencia y optimizar el rendimiento de
							sistemas y procesos, priorizando la excelencia en cada etapa del
							desarrollo.
						</li>
						<li>
							Abordar desafíos y resolver problemas de manera creativa y efectiva,
							aprovechando la colaboración con equipos multidisciplinarios.
						</li>
						<li>
							Estar dispuesto a aprender nuevas tecnologías colaborando con
							personas talentosas y creativas
						</li>
						<li>
							Demostrado liderazgo en proyectos de desarrollo web, dirigiendo
							equipos en la implementación de sistemas de paginación y otras
							soluciones para mejorar el rendimiento y la eficiencia en la manipulación
							de datos.
						</li>
						<li>
							Enfocado en mejorar la experiencia del usuario al simplificar y
							visualizar la interfaz de usuario, facilitando así la comprensión y el
							uso de las aplicaciones informáticas.
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<div class="gallery">
						<Grid variant="offset">
							{
								[
									{
										title: 'Tecnología en Sistemas de Datos',
										institution: 'Universidad Distrital Francisco José de Caldas',
										year: '2021 - Presente',
									},
									{
										title: 'Despliegue de Aplicaciones en Docker',
										institution: 'SENA',
										year: '2023',
									},
									{
										title: 'Front End, Oracle Next Education F2 T3 ',
										institution: 'Alura LATAM',
										year: '2022',
									},
									{
										title: 'Curso de Typescript',
										institution: 'CodigoFacilito',
										year: '2024',
									}
								].map(({ title, year, institution }) => (
									<div class="education-card">
										<div>
											<p><strong>{title}</strong></p>
											<p>{institution}</p>
											<p>{year}</p>
										</div>
									</div>
								))
							}
						</Grid>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<div>
						<h3 class="section-subtitle">Lenguajes</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=java,kotlin,javascript,ts&perline=7"
							alt="Lenjuajes de programación que maneja Jafet Lopez, Java, Kotlin, JavaScript, TypeScript"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Frameworks y Librerías</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=spring,express,bootstrap,babel,hibernate&perline=7"
							alt="Frameworks y librerías que maneja Jafet Lopez, Spring, Express, Bootstrap, Babel, Hibernate"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Bases de Datos</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=mysql,postgresql&perline=7"
							alt="Bases de datos que maneja Jafet Lopez, MySQL, PostgreSQL, NoSQL"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Herramientas</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=git,docker,github,html,md,css,nodejs,figma,firebase,idea,vscode,postman,svg&perline=7"
							alt="Herramientas que maneja Jafet Lopez, Git, Docker, GitHub, HTML, CSS, NodeJS, Figma, Firebase, IntelliJ IDEA, Visual Studio Code, Postman, SVG"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Aprendiendo</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=azure,aws,astro,vue,nuxt,vuetify&perline=7"
							alt="Herramientas que está aprendiendo Jafet Lopez, Azure, AWS, Astro, Vue, Nuxt, Vuetify"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Acercamientos con:</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=py,sklearn,solidjs,visualstudio,cs,dotnet,go,php,solidity,gcp,gitlab,tailwind&perline=7"
							alt="Herramientas que en algun momento utilizo Jafet Lopez, Python, Scikit-learn, SolidJS, Visual Studio, C#, .NET, Go, PHP, Solidity, Google Cloud Platform, GitLab, Tailwind"
						/>
					</div>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.img-skill {
		border-radius: 0;
		box-shadow: none;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}
	.section-subtitle {
		font-size: var(--text-lg);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
	.education-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
		.gallery {
			grid-area: gallery;
		}
		.education-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
