---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Aprendiendo</h2>
		<p>
			Actualmente, me encuentro aprendiendo frameworks de JavaScript y
			conociendo más sobre Azure para poder implementar soluciones en la nube.
		</p>
		<a href="https://skillicons.dev">
			<img src="https://skillicons.dev/icons?i=azure,astro,nuxt&perline=6" />
		</a>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Tecnologias</h2>
		<a href="https://skillicons.dev">
			<img src="https://skillicons.dev/icons?i=java,kotlin,javascript,typescript,aws,azure,docker,express,spring,firebase,git&perline=4" />
		</a>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Trabajando</h2>
		<p>
			Actual mente me encuentro en proceso de grado desarrollado una aplicacion web
			para apoyar el proceso de aprendizaje de Git<br>
			<strong>Usando:</strong>
		</p>
		<a href="https://github.com/J4F3ET/UD.ProyectoDeGrado.GitCol-Learning">
			<img src="https://skillicons.dev/icons?i=javascript,express,firebase,git&perline=6" />
		</a>
	</div>
</section>
<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
