---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Aprendizaje Continuo</h2>
		<p>
			Soy apasionado por el aprendizaje constante y mantenerme al día con
			las últimas tendencias y tecnologías en el desarrollo backend.
			Siempre estoy en busca de nuevos desafíos para mejorar mis
			habilidades. Actualmente, estoy implementando Docker en algunos de
			mis proyectos con la meta de comenzar a explorar microservicios en
			un futuro cercano. Paralelamente, estoy dedicando tiempo al estudio
			de redes y seguridad informática para fortalecer la protección de
			mis aplicaciones. Además, tengo un fuerte interés en aprender sobre
			servicios en la nube para ampliar mis conocimientos y capacidades.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Tecnologias</h2>
		<ul>
			<li>Spring Boot(Java)</li>
			<li>Express(Node.js)</li>
			<li>Mysql y/o PostgreSQL</li>
			<li>Docker</li>
		</ul>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Arquitectura y Diseño de Software</h2>
		<p>
			Como desarrollador, me facina la arquitectura y el diseño de software
			. Me apasiona aplicar principios de programación orientada a objetos
			(POO) y programación funcional para crear soluciones de software
			sólidas y eficientes. Además, tengo experiencia con patrones de
			diseño como Singleton y Observer, y estoy comprometido con buenas
			prácticas como SOLID y DRY. Mi objetivo es aprender y crecer
			constantemente en la creación de software de alta calidad.
		</p>
	</div>
</section>
<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
